body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100svh;
  height: 100vh; /* fallback */
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper,
.container {
  display: flex;
  flex-direction: column;
}
.wrapper {
  border: 1px solid;
  justify-content: center;
  align-items: center;
}
.container {
  gap: 1rem;
}
label {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
input[type="number"] {
  padding: 0.5em 1em;
  font-size: 1rem;
  border: 1px solid #000;
}
button {
  border: none;
  background-color: royalblue;
  color: #fff;
  font-size: 0.95rem;
  padding: 0.75em 1.5em;
}
